/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mo 1           &kp ESC       &kp Q  &kp W      &kp DEL
&kp TAB         &kp A         &kp S  &kp D
&kp LEFT_SHIFT  &kp Z         &kp X  &kp C      &none
&kp LCTRL       &kp LEFT_ALT         &kp SPACE  &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp LBKT RBKT>,
                <&inc_dec_kp MINUS EQUAL>;
        };

        layer_1 {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR_ALL
&trans  &trans        &trans        &trans
&trans  &trans        &trans        &trans        &trans
&trans  &trans                      &trans        &studio_unlock
            >;
        };
    };
};
